[Unit]
Description=Run Bot Agi maintenance daily

[Timer]
OnCalendar=*-*-* 04:20:00
Persistent=true
RandomizedDelaySec=5min
Unit=bot-agi-maintain.service

[Install]
WantedBy=timers.target
